  <div class="mx-auto px-0">
     <div id="heading">
                  <a href="https://xtendaccounting.com.au/" target="_blank">
                   <img src="logo2.png" alt="Xtend logo" ></a>   
                  </div>


<h1>Sorry there's an error. Please fill in all info</h1>

<h4><a href="/" id="error_msg">Return to payment screen</a></h4>